body {
  font-family: arial, sans-serif;
}

.weather-app {
  max-width: 600px;
  margin: 30px 0 auto;
  padding: 20px;
  border: 1px solid #dadce0;
  border-radius: 5px;
}
h1 {
  color: #878787;
  font-size: 24px;
  font-weight: 100;
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #70757a;
  font-size: 16px;
  font-weight: 100;
  text-align: left;
  line-height: 19px;
}
